.container {
  margin-top: 5rem;
}

.text-primary {
  margin-bottom: 3rem;
}

.list-group {
  list-style: none;
}

.list-group-item {
}

.pagination {
  display: inline-flex;
  list-style: none;
}

.arrow::before {
  position: relative;
  /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.arrow.left {
  transform: rotate(-135deg) translate(-50%);
  margin-right: 1rem;
}
.arrow.right {
  transform: rotate(45deg);
  margin-left: 1rem;
}

.arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.arrow:hover {
  background-color: transparent;
  cursor: pointer;
}
